@import "tailwindcss";

@layer base {
  /* Memaksa background terang & warna teks dasar */
  body {
    background-color: #F7FAF9;
    color: #334155;
  }
}

@theme  {
  --color-bg-app: #F7FAF9;
  --color-primary-health: #168A70;
  --color-primary-hover: #12705B;
  --color-secondary-blue: #E8F4FA;
  --color-warning-soft: #FDF6E2;
  --color-warning-text: #9A6B00;
  --color-danger-soft: #FCE8E8;
  --color-danger-text: #AD3636;

  --radius-2xl: 16px;
  --radius-3xl: 24px;
}